.Card{
    margin-left: 10px;
    margin-top: 50px;
    border-color: rgb(255, 193, 77);
    
}
#CardHeader{
    background-color: white;
    color: rgb(0, 0, 0);  
    text-align: center;
    /* font-family: open sans;  */
    font-size: 28px; 
    /* font-weight: 800;  */
    color: #73440e;
     text-align: center;
     border-bottom: 1px solid rgb(255, 193, 77); 
}
#CardFooter{
    background-color: white;
    
}
#ButtonDetails{
    background-image: url('https://ak.picdn.net/shutterstock/videos/16468963/thumb/1.jpg?ip=x480');
    /* border: 1px solid rgb(0, 0, 0); */
    color: #643907;
    

}
#CardHeaderText{
    color: rgb(0, 0, 0);  
    text-align: center;
    font-family: open sans; 
    font-size: 23px; 
    font-weight: 800; 
    color: #73440e;
     text-align: center;
}