#CardHeaderDetail{
    background-color: white;
    color: rgb(0, 0, 0);  
    text-align: center;
    font-size: 28px; 
    color: #73440e;
    text-align: center;
    border-bottom: none; 

}
#CardFooterDetail{
    border-top: 1px solid rgb(204, 204, 204);   
    background-color: white;
    
}
#listGroup{
    border-bottom: none;
    border-top: none; 
    background-color: white;
    text-align: left;
}